@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');
h1{
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Gluten', cursive;
    font-size: 16px;
}

p{
    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: italic; */
    font: italic 400 18px Arial,Helvetica,sans-serif;
    line-height: 1.5;
    text-indent: 40px;
}